.idea/
logs/
docker/mysql/

/src/app/config/parameters.yml
/src/build/
/src/phpunit.xml
/src/var/*
!/src/var/cache
/src/var/cache/*
!/srcvar/cache/.gitkeep
!/src/var/logs
/src/var/logs/*
!/srcvar/logs/.gitkeep
!/src/var/sessions
/src/var/sessions/*
!/srcvar/sessions/.gitkeep
!/srcvar/SymfonyRequirements.php
/src/vendor/
/src/node_modules
/src/web/bundles/
/src/web/dist/*
!/src/web/dist/.gitkeep
/src/npm-debug.log

