/* Menu */

.menu {
    height: 50px;
    margin-bottom: 30px;
}

.menu .entry {
    margin-left: 10px;
    vertical-align: bottom;
    font-size: 20px;
    height: 50px;
    display: inline-block;
}

.partners-section {
    margin-top: 30px;
}

.partners img {
    height: 100px;
}

.index p {
    text-align: justify;
}

/* Survey */

.survey #form_sentences .checkbox {
    display: inline-block;
    margin-right: 25px;
    background-color: #f6f6f6;
    padding: 1px 3px;
    border: solid #e6eaef 1px;
    border-radius: 5px;
    user-select: none;
}

li {
    list-style: none;
}
