/* Menu */

.header {
    margin-bottom: 30px;
}

.title {
    display: inline-block;
    vertical-align: bottom;
}

.menu > a {
    margin-left: 10px;
    vertical-align: bottom;
    font-size: 20px;
    height: 50px;
    display: inline-block;
}

.partners-section {
    margin-top: 50px;
}

.partners img {
    height: 100px;
}

.index p {
    text-align: justify;
}

/* Survey */

.survey #form_sentences .checkbox {
    display: inline-block;
    margin-right: 25px;
    background-color: #f6f6f6;
    padding: 1px 3px;
    border: solid #e6eaef 1px;
    border-radius: 5px;
    user-select: none;
}

li {
    list-style: none;
}

.news h3 {
    margin-top: 0;
}

.news .newsPost {
    margin-bottom: 10px;
}

.content {
    min-height: 100vh;
    background-color: white;
}

body {
    background-color: lightblue;
}
