<div class="newsPost">
    {% if newsPost.link %}
    <a href="{{ newsPost.link }}">
        {% endif %}
        {{ newsPost.ts|date("m/d/Y") }} - {{ newsPost.enText }}
        {% if newsPost.link %}
    </a>
    {% endif %}
</div>
