{% extends 'base.html.twig' %}

{% block body %}
    <h2>Admin panel</h2>
    <ul>
        <li>
            <a href="{{ path('newspost_index') }}">News Management</a>
        </li>
        <li>
            <a href="{{ path('surveysentence_index') }}">Survey Sentences Management</a>
        </li>
        <li>
            <a href="{{ path('surveySummary') }}">Survey Summary</a>
        </li>
        <li>
            <a href="{{ url('survey') }}">Survey</a>
        </li>
    </ul>
{% endblock %}
