{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>
            L’App funzionerà secondo due modalità: come amplificatore della voce del paziente e come traduttore
            istantaneo di un limitato vocabolario di parole o brevi frasi (es. Ho sete, Come stai? etc.). L’App
            sarà in grado di riconoscere tale vocabolario di frasi attraverso una serie di sofisticati algoritmi
            di Machine Learning realizzati tramite il motore TensorFlow di Google. Il riconoscimento dei comandi
            verrà reso possibile da periodiche sessioni di addestramento, al termine delle quali, il software
            avrà adattato la propria base dati al progressivo deterioramento della voce dei pazienti.
        </p>
    </div>
    <div>
        <p>
            Caratteristica peculiare dell’App sarà quindi la possibilità di riconoscere solo ed esclusivamente quelle
            frasi che un determinato soggetto avrà addestrato. Obiettivo del progetto è quello quindi di permettere
            all’App di plasmarsi sulle caratteristiche uniche della voce del suo utilizzatore, senza ricorrere a base
            dati esterne.
        </p>
    </div>
    <div>
        <p>
            L’App è in corso di realizzazione, una volta ultimata verrà validata su una popolazione di pazienti SLA
            reclutati dal centro SLA dell’Ospedale San Raffaele di Milano.
        </p>
    </div>
    <div>
        <p>
            Prevediamo di essere poter distribuire l’App dopo il secondo trimestre del 2018.
        </p>
    </div>
    <div>
        <p>
            Per qualunque necessità, non esitate a contattare il responsabile del progetto al seguente indirizzo:
            info@allspeak.eu
        </p>
    </div>
{% endblock %}
