{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10" >
            <h1 class="text-center">All Speak</h1>

            <p>
                AllSpeak è un progetto in fase di realizzazione presso l’Unità Robotics, Brain and Cognitive
                Sciences (RBCS)
                dell’Istituto Italiano di Tecnologia (IIT) di Genova. Il progetto è stato finanziato dalla
                Fondazione
                Italiana di Ricerca per la Sclerosi Laterale Amiotrofica (ARISLA), utilizzando i proventi della
                campagna Ice Bucket
                Challenge 2015, promossa ad organizzata dall’Associazione Italiana Sclerosi Laterale Amiotrofica
                (AISLA),
                http://www.arisla.org/wp-content/uploads/2015/12/ALLSpeak.pdf.
            </p>
            <p>
                AllSpeak sarà un App per smartphone Android in grado di aiutare il paziente SLA a comunicare
                verbalmente i
                propri bisogni primari. L’App funzionerà secondo due modalità: come amplificatore della voce del
                paziente e come
                traduttore istantaneo di una limitato vocabolario di parole o brevi frasi (es. Ho sete, Come stai?
                etc.). L’App
                sarà in grado di riconoscere tale vocabolario di frasi attraverso una serie di sofisticati algoritmi
                di Machine
                Learning ivi inclusi e tramite delle periodiche sessioni di addestramento, al termine delle quali,
                il software
                avrà adattato la propria base dati al progressivo deterioramento della voce dei pazienti.
            </p>
            <p>
                Caratteristica peculiare dell’App sarà quindi la possibilità di riconoscere solo ed esclusivamente
                quelle frasi che un determinato soggetto avrà addestrato. Obiettivo del progetto è quello quindi di
                permettere
                all’App di plasmarsi sulle caratteristiche uniche della voce del suo utilizzatore, senza ricorrere a
                base dati
                esterne.
                Una volta terminata, L’App verrà prima validata su una popolazione di pazienti SLA reclutata dal
                Centro SLA dell’Ospedale San Raffaele di Milano, e poi distribuita gratuitamente attraverso il consueto
                canale
                Play Store di Google.
            <p>
                Prevediamo di essere poter distribuire l’App dopo il secondo trimestre del 2018.
            </p>
            </p>
            <p>
                Per qualunque necessità, non esitate a contattare il responsabile del progetto al seguente
                indirizzo:
                info@allspeak.it
            </p>

            Partecipanti al progetto:
            <ul>
                <li>
                    Ing. Alberto Inuggi: Investigatore principale del progetto (IIT)
                </li>
                <li>
                    Ing. Leonardo Badino: Responsabile algoritmi riconoscimento vocale (IIT@CTNSC)
                </li>
                <li>
                    M.D. Nilo Riva: responsabile Centro SLA, Ospedale San Raffaele di Milano
                </li>
                <li>
                    Dr. Cecilia di Nardi: sviluppatrice software nell’ambito del riconoscimento vocale.
                </li>
                <li>
                    Dr. Federico Bozzini: sviluppatore WEB
                </li>
            </ul>

        </div>
    </div>
{% endblock %}